table {
    width:100%;
}

.all_goals {
    display:flex;
    justify-content:center;
    /* border:1px solid rgba(13,13,13,0.2); */
    padding:0px;
    margin-top:50px;
}

.all_goal {
    height:100%;
    border:1px solid rgba(13,13,13,0.2);
    width:55%;
}

label{
    position:absolute;
    display:none;
}

.timebox {
    margin-top:50px;
    /* border: 1px solid rgba(13,13,13,0.2); */
    height:500px;
    margin-bottom:60px;
}

.timebox_week {
    margin-top:90px;
    margin-bottom:30px;
    font-size:1.5em;
    font-weight:500;
    border-bottom:1px solid red;
}

.timebox_name {
    border-bottom: 1px solid rgba(13,13,13,0.2);
    margin-bottom:20px;
}

.timebox_grid {
    display: grid;
    
    grid-template-columns: 47% 47%; 
    grid-template-rows: 45% 45%;
    grid-gap:35px 35px;
    align-items:space-evenly; 
    width:100%;
    height:100%;
}

.timebox_item {
    border: 1px solid rgba(13,13,13,0.2);
    display:flex;
    flex-direction:column;
    align-items:center;
}

.goal {
    grid-column: 1/2; 
    grid-row: 1/2;
}

.priority {
    grid-column: 1/2; 
    grid-row: 2/3;
}

.schedule {
    grid-column:2/3; 
    grid-row: 1/3;
}

.inner_head {
    /* border-bottom:1px solid rgba(13,13,13,0.2); */
    width:100%;
    text-align:center;
    font-size:1.25em;
    padding:10px;
    font-weight:550;
}

.inner_item {
    border-bottom:1px solid rgba(13,13,13,0.2);
    width:100%;
    /* text-align:center; */
    padding-left:10px;
    
}

td {
    border-top: 1px solid rgba(13,13,13,0.2);
    width:100%;
    padding:10px;
}
 
td:first-child {
    width:100px;
    border-right:1px solid rgba(13,13,13,0.2);
}

/* table > tr > td:first-child {
    width:50px;
} */